.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column
}
#landingPageDiv {
  display: flex;
  padding-top: 110px;
}
.landingFlex {
  flex: 1;
  top: 30%
}

.formGroup{
  margin-bottom: 20px;
  text-align: left;
  border-bottom: 1px solid #666;
  width: 400px;
  margin-left:15%;
  display: flex
}
.loginLabel{
  display: block;
  color: black;
  font-weight: bold;
  padding: 5px;
  padding-left: 0;
  flex:1
}
.logInInput {
  width: 100%;
  padding: 5px;
  padding-left: 0;
  border: none;
  /* border-bottom: 1px solid #666; */
  outline: none;
  font-size: 16px;
  color: #333;
  flex:3
}
.checkBoxesDiv{
  display:flex;
  width: 430px;
  padding-left: 15%;
}

#loginLineBreak {
  align-items: center;
  border-bottom: 3px solid #dadde1;
  display: flex;
  margin: 20px 16px;
  text-align: center;
}
#signUpLineBreak {
  align-items: center;
  border-bottom: 3px solid #dadde1;
  display: flex;
  margin: 20px 16px;
  text-align: center;
}

.landingButton {
  background-color: #046b99;
  border: none;
  border-radius: 24px;
  font-size: 30px;
  line-height: 48px;
  padding: 0 16px;
  width: 160px;
  color: #fff;
  font-family: Roboto;
}
#registerButton {
  background-color: #10a0e2;
  font-family: Roboto;
}
#logoutButton {
  background-color: #10a0e2;
  border: none;
  border-radius: 24px;
  font-size: 30px;
  line-height: 48px;
  padding: 0 16px;
  width: 160px;
  color: #fff;
  font-family: Roboto
}
#landingLogo {
  width: 70%;
  margin-top: 10%;
}
#appTitle {
  font-size: 4em;
  font-weight: bold;
}
#welcomeDiv{
  border-right: 3px solid #dadde1;
}

.pwSelect{
  width: 20px;
  height: 20px;
  flex: 1
}
.pwBoxLabel{
  font-size: 16px;
}
.pwSelect input[type="checkbox"]{
  height:16px;
  width: 16px
}

.landingHead{
  text-align: left;
  padding-left: 15%;
  font-size: 2.5em;
  margin-bottom: 0;
}
p.landingHead{
  font-size: medium;
  margin-top: 0
}

.rightButtonDiv{
  display:block;
  text-align: right;
  padding-right: 20%;
}


#navHeader{
  flex: 1;
  background-color: #b3efff;
  border-bottom: 2px solid black;
}
#navHeader ul{
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;

}
#navHeader li{
  flex: 1;
  text-align: center;

}
#navHeader ul li a{
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  color: black
}
#navHeader ul li a.active{
  text-decoration:underline;
  font-size: 24px
}

#appContent{
  flex: 11;
  background-color: white;
}

.profBoxContainer{
  display: flex;
  justify-content: center;
  padding: 20px
}
.selectorBox{
  flex: 1;
  height: 200px;
  max-width: 180px;
  background-color: #00cfff;
  margin: 20px;
  border-radius: 12px;
  color: black;
  border: 3px solid black
}
.selectorBox.unSelected{
  background-color: #046b99;
  color: white;
  border: 3px solid white
  /* if background color changes, match unselected border color  */
}

.selectorCheck{
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 6px;
  margin: 0 auto;
  color: black
}

.updateButton{
  background-color: #1c304a;
  border: none;
  border-radius: 24px;
  font-size: 30px;
  line-height: 48px;
  padding: 0 16px;
  width: 160px;
  color: #fff;
  font-family: Roboto;
}

.profModCard{
  flex: 1;
  height: 200px;
  max-width: 180px;
  background-color: #00cfff;
  margin: 20px;
  border-radius: 12px;
}

.profModLabel{
  width: 20px;
  height: 20px;
  transform: scale(2)
}
.profModSpan{
  font-size: 20px;
}

.profModLabel input[type="checkbox"]{
  height: 40px;
  width: 40px
}
