.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column
}
#landingPageDiv {
  display: flex;
  /* padding-top: 55px;
  padding-bottom: 55px; */
  height: 100%
}
.landingFlex {
  flex: 1;
  padding-top: 10%;
}


.formGroup{
  margin-bottom: 20px;
  text-align: left;
  border-bottom: 1px solid #666;
  width: 400px;
  margin-left:15%;
  display: flex
}
.loginLabel{
  display: block;
  color: black;
  font-weight: bold;
  padding: 5px;
  padding-left: 0;
  flex:1
}
.logInInput {
  width: 100%;
  padding: 5px;
  padding-left: 0;
  border: none;
  /* border-bottom: 1px solid #666; */
  outline: none;
  font-size: 16px;
  color: #333;
  flex:3
}
.checkBoxesDiv{
  display:flex;
  width: 430px;
  padding-left: 15%;
}

#loginLineBreak {
  align-items: center;
  border-bottom: 3px solid #dadde1;
  display: flex;
  margin: 20px 16px;
  text-align: center;
}
#signUpLineBreak {
  align-items: center;
  border-bottom: 3px solid #dadde1;
  display: flex;
  margin: 20px 16px;
  text-align: center;
}

.landingButton {
  background-color: #046b99;
  border: none;
  border-radius: 24px;
  font-size: 30px;
  line-height: 48px;
  padding: 0 16px;
  width: 160px;
  color: #fff;
  font-family: Roboto;
}
#registerButton {
  background-color: #10a0e2;
  font-family: Roboto;
  margin-left: 15%;
  margin-right: 5%;
  max-width: 160px;
}
#logoutButton {
  background-color: #10a0e2;
  border: none;
  border-radius: 24px;
  font-size: 30px;
  line-height: 48px;
  padding: 0 16px;
  width: 160px;
  color: #fff;
  font-family: Roboto
}
#landingLogo {
  width: 80%;
  margin-top: 5%;
}
#appTitle {
  font-size: 5em;
  font-weight: bold;
  margin-bottom: 0;
  color: white
}
#welcomeDiv{
  background-color: #005683;
}

#createAccFlex{
  display: flex;
  padding-left: 22%
}
#createAccCaption{
  margin: 0;
}

.pwSelect{
  width: 20px;
  height: 20px;
  flex: 1
}
.pwBoxLabel{
  font-size: 16px;
}
.pwSelect input[type="checkbox"]{
  height:16px;
  width: 16px
}

.landingHead{
  text-align: left;
  padding-left: 15%;
  font-size: 2.5em;
  margin-bottom: 0;
}
p.landingHead{
  font-size: medium;
  margin-top: 0
}

.rightButtonDiv{
  display:block;
  text-align: right;
  padding-right: 20%;
}

#headerDiv{
  display: flex;
  background-color: #b3efff;
  border-bottom: 2px solid black;
}
#headerLeft{
  flex: 1;
  text-align: left;
  padding-left: 5%;
  font-weight: bold;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom:15px
}
#navHeader{
  flex: 1;
  padding-left: 15%;
  padding-top:.3%
}
#navHeader ul{
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;

}
#navHeader li{
  flex: 1;
  text-align: center;
  border-left: 2px solid black
}
#navHeader li:first-child{
  flex: 1;
  text-align: center;
  border-left: none
}
#navHeader ul li a{
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
#navHeader ul li a.active{
  text-decoration:underline;
  font-size: 24px
}

#appContent{
  flex: 11;
  background-color: white;
}

.profBoxContainer{
  display: flex;
  justify-content: center;
  padding: 20px
}
.selectorBox{
  flex: 1;
  height: 200px;
  max-width: 180px;
  background-color: #00cfff;
  margin: 20px;
  border-radius: 12px;
  color: black;
  border: 3px solid black
}
.selectorBox.unSelected{
  background-color: #046b99;
  color: white;
  border: 3px solid white
  /* if background color changes, match unselected border color  */
}

.selectorCheck{
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 6px;
  margin: 0 auto;
  color: black
}

.updateButton{
  background-color: #1c304a;
  border: none;
  border-radius: 24px;
  font-size: 30px;
  line-height: 48px;
  padding: 0 16px;
  width: 160px;
  color: #fff;
  font-family: Roboto;
}

.profModCard{
  flex: 1;
  height: 200px;
  max-width: 180px;
  background-color: #00cfff;
  margin: 20px;
  border-radius: 12px;
}

.profModLabel{
  width: 20px;
  height: 20px;
  transform: scale(2)
}
.profModSpan{
  font-size: 20px;
}

.profModLabel input[type="checkbox"]{
  height: 40px;
  width: 40px
}

#modifyForm{
  height: 100px;
  margin-top: 10px;
}
#modifyFormDiv{
  text-align: left;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
#modifyTextInput{
  font-family: Roboto;
  font-size: 16px;
  margin-left: 5%;
  margin-right: 1%;
  width: 75%;
  padding-top: 10px;
  padding-bottom: 10px;
  resize: none;
  flex:5
}
.modifyButton {
  background-color: #046b99;
  border: none;
  border-radius: 24px;
  font-size: 30px;
  line-height: 48px;
  width: 160px;
  color: #fff;
  font-family: Roboto;
  height: 100px;
  margin-right:5%;
  margin-left: 1%;
  flex: 1
}

.resourceButtonsDiv{
margin-top: 10px;
}

.resourceButton{
  background-color: #046b99;
  border: none;
  border-radius: 24px;
  font-size: 30px;
  line-height: 48px;
  width: 260px;
  color: #fff;
  font-family: Roboto;
  height: 50px;
  margin-right:5%;
  margin-left: 1%;
}
.resourceButton:disabled{
  background-color: rgba(4, 106, 153, 0.674);
}



#materialsContainer{
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 20px;
  max-height: 50%;
  text-align: left;
}
p {
  background-color: white;
  padding:5px
}
#saveFormDiv{
  padding-top:10px
}
#tcImg{
  width: 100%;
}